<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!-- Note: Password is in the rockyou.txt file ;) -->
<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=SQL01,1433;Initial Catalog=Clients;Integrated Security=False;User ID=sa;Password=Goldfish1!"/>
  </connectionStrings>
  <system.web>
    <!-- <compilation debug="true" targetFramework="4.0"/> -->
  </system.web>
</configuration>
